*

{
    margin:0;
    padding:0;
    font-family:sans-serif;
}

body{
    background-color:#3F3F3F;
}

.container{
    position:relative;
    padding:0 100px;
}

/*Menu Lateral*/

.menulateral{
    position:relative;
    width:370px;
    height:100%;
    position:fixed;
    background-color:blueviolet;
    left:-300px;
    border-radius:15px;
    z-index:10000;
    transition:1s ease-in-out;
}

.menulateral .logo img{
    align-items:center;
    left:50px;
    position:relative;
    width:260px;
    height:210px;
}

.menulateral ul img{
    display:flex;
    width:50px;
    height:50px;
    margin-left:310px;
    transition:1s;
    cursor:pointer;
}

.menulateral:hover{
    transition:1s;
    transform: translateX(250px);
}

.menulateral ul img:hover{
    transform:translateY(-4px);
}

.menulateral ul li{
    margin:10px;
    list-style:none;
}

.menulateral ul li a{
    position:relative;
    top:50px;
    right:-50px;
    font-size:26px;
    color:#fff;
    cursor:pointer;
    list-style:none;
    text-decoration:none;
    letter-spacing:1px;
}

.menulateral ul li a:hover{
    color:#fbe000;
    border-bottom: 5px solid gold;
    border-radius: 5px;
    transition: 0.3s;
}

/*Todo conteudo do site*/

.conteudo{
    display:flex;
    margin:0;
    left:0;
}

/*Banners de atuação*/

.conteudo .banner{
    position:relative;
    margin: 50px 50px 20px 40px;
    width:400px;
    height:180px;
    background:#A020F0;
    border-radius:10px;
}

.banner{
    display:flex;
    transition:1s;
}
.banner:hover{
    box-shadow: 0 4px 12px 0 rgba(0,0,0,0.1);
    transform: translateY(-4px);
    transition:0.2s;
}

.textBanner{
    width:300px;
    height:100px;
    margin:20px;
    text-align:left;
    color:#fff;
    font-size:24px;
}

.textBanner p{
    text-transform:uppercase;
    font-size:25px;
    font-weight:900;
    font-family:monospace;
    color:#fff;
}

.textBanner p span{
    margin-left:30px;
    position:absolute;
}

.conteudoBanner{
    top:50px;
    position:relative;
}

#bt{
    font-size:20px;
    font-weight:600;
    margin-top:-100px;
    width:200px;
    height:40px;
    color:#fff;
    outline:none;
    background:none;
    border: 2px solid #fff;
    border-radius: 50px;
}

#bt:active{
    transform: scale(0.95);
    transition:0.5s;
}

.conteudoBanner img{
    margin-top:-170px;
    margin-left:200px;
    width:200px;
    height:230px;
}

/*Área da exposição de produtos*/

.conteudo2{
    display:flex;
    margin:0;
    left:0;
}

.itens{
    position:relative;
    justify-content: center;
    align-items: center;
    width:400px;
    height:40px;
    border-radius:10px;
    background:blueviolet;
    margin-left:509px;
    margin-top:10px;
}

.itens input{
    width:300px;
    height:30px;
    padding:5px;
    text-align:center;
    background:none;
    color:#fff;
    outline:none;
    border-style:none;
    border-radius:5px;
}

.procura{
    display:flex;
    justify-content:center;
    align-items:center;
    float:right;
}

.procura img{
    margin: 2px;
    width:30px;
    height:30px;
    float:right;
    transition:0.5s;
}

.procura img:active{
    transform: scale(0.95);
    transition:0.5s;
}


.itens input::-webkit-input-placeholder {
    color: #fff;
 }
  
 :-moz-placeholder { /* Firefox 18- */
    color: #fff;  
 }
  
 ::-moz-placeholder {  /* Firefox 19+ */
    color: #fff;  
 }
  
 :-ms-input-placeholder {  
    color: #fff;  
 }

/*Banner de exibição de produtos*/

.conteudo2{
    position: relative;
}

 .bannerItens{
     display:flex;
     justify-content:center;
     align-items:center;
     min-height:100vh;
     margin:10px;
 }

 .containerCard{
    margin:0;
    top:-110px;
    left:-800px;
    position:relative;
 }

 .containerCard .card{
    position:relative;
    width:300px;
    height:400px;
    background:blueviolet;
    border-radius:15px;
    overflow:hidden;
 }

 .containerCard .card:before{
    content:'';
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background: gold;
    clip-path: circle(100px at 50% 50%);
    transition:0.5s ease-in-out;
 }

 .containerCard .card:hover:before{
    clip-path: circle(120px at 50% 20%);
    transition:0.5s;
 }

 .containerCard .card img{
     position: absolute;
     align-content: center;
     align-items:center;
     top:-110px;
     left: 60px;
     width:200px;
     height:250px;
     transition:0.5s;
 }

 .containerCard:hover .produto img{
     transform: translateY(-100px);
 }

 .containerCard .card .produto{
    position:absolute;
    top:50%;
    transform:translateY(-520);
    z-index:1;
 }

 .containerCard .card .descProduto{
    position: absolute;
    bottom:0;
    width:100%;
    height:100px;
    text-align:center;
    transition: 0.5s;
    z-index:10;
 }

 .containerCard .card:hover{
     height:400px;
 }

 .containerCard .card:hover .descProduto{
    height:200px;
 }

 .containerCard .card .descProduto h2{
    position: relative;
    font-weight:600;
    letter-spacing:1px;
    color:#fff;
    top:30px;
 }

.containerCard .card .descProduto .tamanho{
    display:flex;
    justify-content:center;
    align-items:center;
    padding:8px 20px;
    transition:0.5s;
    opacity: 0;
    visibility: hidden;
 }

 .containerCard .card .descProduto .tamanho{
    opacity: 1;
    visibility: visible;
    transition-delay:0.5s;
 }

 .containerCard .card .descProduto .tamanho h3{
    color:#fff;
    font-weight:300;
    font-size:14px;
    text-transform:uppercase;
    letter-spacing:2px;
    margin-top:30px;
 }

 .containerCard .card .descProduto .tamanho span{
     width:26px;
     height:26px;
     text-align:center;
     line-height: 26px;
     font-size: 14px;
     display:inline-block;
     color: #fff;
     background: none;
     border: 2px solid #fff;
     margin:0 5px;
     margin-top:30px;
     transition:0.5s;
     border-radius: 50px;
     cursor: pointer;
 }

 .containerCard .card .descProduto .tamanho span:hover{
    color:#fff;
    transform:translateY(-2px);
 }

 .containerCard .card .descProduto a{
     display: inline-block;
     padding: 10px 20px;
     background: none;
     border: 2px solid #fff;
     border-radius: 50px;
     margin-top:10px;
     text-decoration:none;
     font-weight: 600;
     color: #fff;
     opacity: 0;
     transform: translateY(50px);
     transition: 0.5s;
 }

 .containerCard .card .descProduto .valor span{
    color: #fff;
 }

 .containerCard .card:hover .descProduto a{
     opacity: 1;
     transform: translateY(0px);
     transition-delay:0.30s ;
 }

 /*Sobre*/

 .sobre{
    display: flex;
    width:1000px;
    height:270px;
    background:	blueviolet;
    display: flex;
    position: relative;
    top: -270px;
    margin: 20px 0 0 45px;
    border-radius:10px;
 }

 #sobred{
    float:right;
    margin: 20px;
 }

 .imagemsobre img{
    width:270px;
    height:250px;
    margin: 5px;
 }

.textosobre{
    margin: 20px;
    color: #fff;
}

.sobre .btnsobre{
    width: 100px;
    color: #fff;
    background:none;
    border: 2px solid #fff;
    border-radius:20px;
    padding:10px;
    margin-right:10px;
    margin-top:210px;
    cursor: pointer;
}








 


